data/json/tfidf/player/*.txt
data/json/tfidf/race/*.txt
data/json/words/player/*.txt
data/json/words/race/*.txt
data/json/counts/player/*.txt
data/json/counts/race/*.txt
data/json/tfidf/*.txt
data/json/words/*.txt
data/json/counts/*.txt
data/*.xlsx

data/csv/tfidf/player/*.csv
data/csv/tfidf/race/*.csv
data/csv/words/player/*.csv
data/csv/words/race/*.csv
data/csv/counts/player/*.csv
data/csv/counts/race/*.csv
junk/
config.txt
venv
*.pyc